pipeline/Dyn_ING_Payments.json
{
	"name": "Dyn_ING_Payments",
	"properties": {
		"activities": [
			{
				"name": "ParamFile",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "JsonParamFile",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IngestPayments",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ParamFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "CreatedOn",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@pipeline().parameters.WindowStart",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@pipeline().parameters.WindowEnd",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": true,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['EnqueuedTimeUtc']"
								},
								"sink": {
									"name": "EnqueuedTimeUtc"
								}
							},
							{
								"source": {
									"path": "$['Properties']"
								},
								"sink": {
									"name": "Properties"
								}
							},
							{
								"source": {
									"path": "$['Body']['payment_identifier']"
								},
								"sink": {
									"name": "PaymentIdentifier"
								}
							},
							{
								"source": {
									"path": "$['Body']['unique_customer_number']"
								},
								"sink": {
									"name": "UniqueCustomerNumber"
								}
							},
							{
								"source": {
									"path": "$['Body']['bank_status_code']"
								},
								"sink": {
									"name": "BankStatusCode"
								}
							},
							{
								"source": {
									"path": "$['Body']['payment_status_name']"
								},
								"sink": {
									"name": "PaymentStatusName"
								}
							},
							{
								"source": {
									"path": "$['Body']['payment_amount']"
								},
								"sink": {
									"name": "PaymentAmount"
								}
							},
							{
								"source": {
									"path": "$['Body']['deduction']"
								},
								"sink": {
									"name": "Deduction"
								}
							},
							{
								"source": {
									"path": "$['Body']['payment_date']"
								},
								"sink": {
									"name": "PaymentDate"
								}
							},
							{
								"source": {
									"path": "$['SystemProperties']"
								},
								"sink": {
									"name": "SystemProperties"
								}
							},
							{
								"source": {
									"path": "CreatedOn"
								},
								"sink": {
									"name": "CreatedOn"
								}
							}
						],
						"collectionReference": "",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "Json_Dynamic_file",
						"type": "DatasetReference",
						"parameters": {
							"DS_P_container_name": {
								"value": "@activity('ParamFile').output.firstRow.PaymentContainer\n",
								"type": "Expression"
							},
							"DS_P_root_folder_name": "@activity('ParamFile').output.firstRow.PaymentRootFolder"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Ing_Payments",
						"type": "DatasetReference",
						"parameters": {
							"ShemaName": {
								"value": "@activity('ParamFile').output.firstRow.SchemaName",
								"type": "Expression"
							},
							"TableName": "@activity('ParamFile').output.firstRow.IngestionTableName"
						}
					}
				]
			}
		],
		"parameters": {
			"WindowStart": {
				"type": "string"
			},
			"WindowEnd": {
				"type": "string"
			}
		},
		"annotations": []
	}
}