pipeline/Dyn_ING_Payments.json
{
	"name": "Dyn_ING_Payments",
	"properties": {
		"activities": [
			{
				"name": "ParamFile",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "JsonParamFile",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IngestPayments",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ParamFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@pipeline().parameters.WindowStart",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@pipeline().parameters.WindowEnd",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Json_Dynamic_file",
						"type": "DatasetReference",
						"parameters": {
							"DS_P_container_name": {
								"value": "@activity('ParamFile').output.firstRow.PaymentContainer\n",
								"type": "Expression"
							},
							"DS_P_root_folder_name": "@activity('ParamFile').output.firstRow.PaymentRootFolder"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Ing_Payments",
						"type": "DatasetReference",
						"parameters": {
							"ShemaName": {
								"value": "@activity('ParamFile').output.firstRow.SchemaName",
								"type": "Expression"
							},
							"TableName": "@activity('ParamFile').output.firstRow.IngestionTableName"
						}
					}
				]
			}
		],
		"parameters": {
			"WindowStart": {
				"type": "string"
			},
			"WindowEnd": {
				"type": "string"
			}
		},
		"annotations": []
	}
}