pipeline/p_task4.json
{
	"name": "p_task4",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['EnqueuedTimeUtc']"
								},
								"sink": {
									"name": "EnqueuedTimeUtc"
								}
							},
							{
								"source": {
									"path": "$['Properties']"
								},
								"sink": {
									"name": "Properties"
								}
							},
							{
								"source": {
									"path": "$['SystemProperties']['connectionDeviceId']"
								}
							},
							{
								"source": {
									"path": "$['SystemProperties']['connectionAuthMethod']"
								}
							},
							{
								"source": {
									"path": "$['SystemProperties']['connectionDeviceGenerationId']"
								}
							},
							{
								"source": {
									"path": "$['SystemProperties']['contentType']"
								}
							},
							{
								"source": {
									"path": "$['SystemProperties']['contentEncoding']"
								}
							},
							{
								"source": {
									"path": "$['SystemProperties']['enqueuedTime']"
								}
							},
							{
								"source": {
									"path": "$['Body']['payment_identifier']"
								}
							},
							{
								"source": {
									"path": "$['Body']['unique_customer_number']"
								}
							},
							{
								"source": {
									"path": "$['Body']['bank_status_code']"
								}
							},
							{
								"source": {
									"path": "$['Body']['payment_status_name']"
								}
							},
							{
								"source": {
									"path": "$['Body']['payment_amount']"
								}
							},
							{
								"source": {
									"path": "$['Body']['deduction']"
								}
							},
							{
								"source": {
									"path": "$['Body']['payment_date']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_payments",
						"type": "DatasetReference",
						"parameters": {
							"paymentsContainer": {
								"value": "@activity('Get Params').output.firstRow.PaymentContainer",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_target_Payments",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Params",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_payments_params",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"windowStart": {
				"type": "string"
			},
			"windowEnd": {
				"type": "string"
			}
		},
		"annotations": []
	}
}