pipeline/payments_task4_vg.json
{
	"name": "payments_task4_vg",
	"properties": {
		"activities": [
			{
				"name": "GetParamsVg",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_payments_param_vg",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Ingest Payments vg",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetParamsVg",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@pipeline().parameters.windowStartVg",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@pipeline().parameters.windowEndVg",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": true,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "ds_src_payments_vg",
						"type": "DatasetReference",
						"parameters": {
							"paymentsContainerVg": {
								"value": "@activity('GetParamsVg').output.firstRow.PaymentContainer",
								"type": "Expression"
							},
							"paymentsRootFolderVg": {
								"value": "@activity('GetParamsVg').output.firstRow.PaymentRootFolder",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ingestion_payments_vg",
						"type": "DatasetReference",
						"parameters": {
							"schemaNameVg": {
								"value": "@activity('GetParamsVg').output.firstRow.SchemaName",
								"type": "Expression"
							},
							"tableNameVg": {
								"value": "@activity('GetParamsVg').output.firstRow.IngestionTableName",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"windowStartVg": {
				"type": "string"
			},
			"windowEndVg": {
				"type": "string"
			}
		},
		"annotations": []
	}
}