pipeline/pl_CURATE_PAYMENTS_vg.json
{
	"name": "pl_CURATE_PAYMENTS_vg",
	"properties": {
		"activities": [
			{
				"name": "Get Last Modified Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CASE WHEN MAX(CreatedOn) IS NULL THEN '1900-01-01' ELSE MAX(CreatedOn) END as LastModifiedOn from [vg].[Payments]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_curration_payments_vg",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Curate Payments",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Modified Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT *\nFROM vg.Payments\nWHERE 1=1\nAND CreatedOn > '@{activity('Get Last Modified Date').output.firstRow.CreatedOn}'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_ingestion_payments_vg",
						"type": "DatasetReference",
						"parameters": {
							"schemaNameVg": "vg",
							"tableNameVg": "Payments"
						}
					}
				]
			}
		],
		"annotations": []
	}
}