pipeline/pl_CURATE_PAYMENTS.json
{
	"name": "pl_CURATE_PAYMENTS",
	"properties": {
		"activities": [
			{
				"name": "Get Last Modified Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "  SELECT CASE WHEN MAX(CreatedOn) IS NULL THEN '1900-01-01' \n  ELSE MAX(CreatedOn) END as CreatedOn from [am].[Payments]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_curation_payments",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Curate Payments",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Modified Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT *\n  FROM am.Payments\nWHERE 1=1\nAND CreatedOn > '@{activity('Get Last Modified Date').output.firstRow.CreatedOn}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"PaymentIdentifier"
							]
						},
						"sqlWriterUseTableLock": true,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PaymentId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PaymentId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PaymentIdentifier",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PaymentIdentifier",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UniqueCustomerNumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "UniqueCustomerNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BankStatusCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BankStatusCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PaymentStatusName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PaymentStatusName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PaymentAmount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								},
								"sink": {
									"name": "PaymentAmount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Deduction",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								},
								"sink": {
									"name": "Deduction",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "PaymentDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "PaymentDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreatedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_ingestion_payments",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "am",
							"tableName": "Payments"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_curation_payments",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-04-27T09:50:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}