pipeline/pl_ingestion_payments.json
{
	"name": "pl_ingestion_payments",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Payment_Parametar",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@pipeline().parameters.StartDate",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@pipeline().parameters.EndDate",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": true,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['EnqueuedTimeUtc']"
								},
								"sink": {
									"name": "EnqueuedTimeUtc",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['Properties']"
								},
								"sink": {
									"name": "Properties",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Body']['payment_identifier']"
								},
								"sink": {
									"name": "PaymentIdentifier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Body']['unique_customer_number']"
								},
								"sink": {
									"name": "UniqueCustomerNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Body']['bank_status_code']"
								},
								"sink": {
									"name": "BankStatusCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Body']['payment_status_name']"
								},
								"sink": {
									"name": "PaymentStatusName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Body']['payment_amount']"
								},
								"sink": {
									"name": "PaymentAmount",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['Body']['deduction']"
								},
								"sink": {
									"name": "Deduction",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['Body']['payment_date']"
								},
								"sink": {
									"name": "PaymentDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Storage_Paymets",
						"type": "DatasetReference",
						"parameters": {
							"PaymentContainer": {
								"value": "@activity('Lookup1').output.firstRow.PaymentContainer",
								"type": "Expression"
							},
							"PaymentRootFolder": {
								"value": "@activity('Lookup1').output.firstRow.PaymentRootFolder",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ingestion_Payments",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "mm",
								"type": "Expression"
							},
							"IngestionTableName": {
								"value": "@activity('Lookup1').output.firstRow.IngestionTableName\r\n",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"StartDate": {
				"type": "string"
			},
			"EndDate": {
				"type": "string"
			}
		},
		"annotations": []
	}
}