pipeline/pp_ingest_payments.json
{
	"name": "pp_ingest_payments",
	"properties": {
		"activities": [
			{
				"name": "get_params",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_param_json",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Ingest Payments",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get_params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "CreatedOn",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@pipeline().parameters.windowStart",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@pipeline().parameters.windowEnd",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "*.json",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": true,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['EnqueuedTimeUtc']"
								},
								"sink": {
									"name": "EnqueuedTimeUtc",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['Properties']"
								},
								"sink": {
									"name": "Properties",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Body']['payment_identifier']"
								},
								"sink": {
									"name": "PaymentId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['Body']['unique_customer_number']"
								},
								"sink": {
									"name": "UniqueCustomerNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Body']['bank_status_code']"
								},
								"sink": {
									"name": "BankStatusCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Body']['payment_status_name']"
								},
								"sink": {
									"name": "PaymentStatusName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Body']['payment_amount']"
								},
								"sink": {
									"name": "PaymentAmount",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['Body']['deduction']"
								},
								"sink": {
									"name": "Deduction",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['Body']['payment_date']"
								},
								"sink": {
									"name": "PaymentDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['CreatedOn']"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "ds_src_payments",
						"type": "DatasetReference",
						"parameters": {
							"paymentsContainer": {
								"value": "@activity('get_params').output.firstRow.PaymentContainer",
								"type": "Expression"
							},
							"paymentsRootFolder": {
								"value": "@activity('get_params').output.firstRow.PaymentRootFolder",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ingestion_payments",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": {
								"value": "@activity('get_params').output.firstRow.schemaName",
								"type": "Expression"
							},
							"tableName": {
								"value": "@activity('get_params').output.firstRow.IngestionTableName",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"windowStart": {
				"type": "string"
			},
			"windowEnd": {
				"type": "string"
			}
		},
		"annotations": []
	}
}