pipeline/pp_ingest_payments.json
{
	"name": "pp_ingest_payments",
	"properties": {
		"activities": [
			{
				"name": "get_params",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_param_json",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Ingest Payments",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get_params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_ingestion_payments",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": {
								"value": "@activity('get_params').output.firstRow.PaymentContainer",
								"type": "Expression"
							},
							"tableName": {
								"value": "@activity('get_params').output.firstRow.PaymentRootFolder",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"windowStart": {
				"type": "string"
			},
			"windowEnd": {
				"type": "string"
			}
		},
		"annotations": []
	}
}